 <div class="col-md-4">
    <img src= <%= entities.name %> class="img-fluid rounded-start" alt=<%= @entities.name %>>
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><%= group.name %></h5>
      <h5><%=entities.Amount%></h5>
    </div>
</div>