<p style="color: green"><%= notice %></p>

<h1 class="group-title">Groups</h1>

<div class=" card-list" style="max-width: 640px;">
  <div class="group">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
 </div>
</div>
<div class="add-catagory">
<%= link_to "Add a new category", new_group_path, class: "catagory-btn" %>
</div>