.navbar {
  background-color: #3778c2;
}

.nav-all  {
  display: flex !important;
  justify-content: space-between !important;
  gap: 69% !important;
}

body {
  background-color: #f3f3f3 !important;
  height: fit-content !important;
}

.log-field {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 6% !important;
  margin-left: 10% !important;
}

.intoduction {
   display: flex; 
   margin-top: 7%;
   flex-direction: column;
   gap: 40px;
   margin-right: 1.25rem; 
}

.signup-btn {
  width: 20%;
}

.login-btn {
  margin-left: -2%;
}

.group-item {
  display: flex;
  gap: 20px;
  align-items: center;
  border: black solid 1px;
  padding: 10px;
}

.group {
   display: flex;
   gap: 30px;
   flex-direction: column;
   background-color: #f3f3f3;
}
 

input {
    width: 350px;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 1px;
    box-sizing: border-box;
}

.group-image {
    width: 120px;
    height: 110px;
}

.card-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.group-title {
  text-align: center;
  font-weight: bold;
}

.add-catagory {
  width: 100%;
  margin-top: 20px;
  background-color: #5fb523;
  text-align: center;
  height: 58px;
  padding-top: 15px;
}

.catagory-btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: #f3f3f3;
}

.card-body {
  display: flex;
  gap: 20px;
  align-items: baseline;
  justify-content: space-between;
}

.group-transaction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.trans-card {
  border: black 1px solid;
  padding: 20px;
}

.total-tarns {
  display: flex;
  justify-content: space-around;
}

.trans {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.trans-title {
  text-align: center;
}

.new-trans {
  width: 100%;
  margin-top: 33%;
  background-color: #5fb523;
  text-align: center;
  height: 58px;
  padding-top: 15px;
}

.new-trans-item {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: #f3f3f3;
}

.group-name {
  text-decoration: none;
}


@media only screen and (max-width: 600px) {

 .intoduction {
    display: none !important;
  }

  .card-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .trans {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  }


